@import 'mixins';
.main {
    // min-height: calc(100vh);
    justify-content: center;
    .main-container {
        height: 100%;
        padding-bottom: $footerheight;
    }
    .game-block {
        height: 40em;
        // margin: 0 auto;
    }
}